
body {
  background-color: #936c6c; 
  font-size: 20px;
  font-family: 'Times New Roman';
  color: #936c6c
  body {
    background-image: url("https://www.facebook.com/photo.php?fbid=10206961213370551&l=fd0a34ea62"); 
 
}  
