
body {
  background-color: #8c7373; 
  font-size: 20px;
  font-family: 'Times New Roman';
  
}   

image{
  background-color: #ffebee red lighten-5;
}

#blog.html {
  background-color: blue;
}


li {
    display: inline;
}  

li {
    float: left;
}

a {
    display: block;
    padding: 8px;

}

#container 
    {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    }
h1,h2,h3,h4,h5{ font-size: 40px;}



p > a {
  font size: 20px;
  font-weight: italic;
}

#img {
  text-align: center;
}

#button {
  width: 100px;
  height: 100px;
}


list {
  list-style-type: lower-alpha;
  text-align: center;
}

#div {
  text-align: center;
}
