

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}
body {
  background-color: #936c6c; 
  font-size: 20px;
  font-family: 'Times New Roman';
  color: #936c6c
  body {
    background-image: url("https://www.facebook.com/photo.php?fbid=10206961213370551&l=fd0a34ea62"); 
 
}  


#blog.html {
  background-color: #936c6c;
}


li {
    display: inline;
}  

li {
    float: left;
}

a {
    display: block;
    padding: 8px;

}

#container 
    {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    }
h1,h2,h3,h4,h5{ font-size: 40px;}



p > a {
  font size: 20px;
  font-weight: italic;
}

#img {
  text-align: center;
}

#button {
  width: 100px;
  height: 100px;
}


list {
  list-style-type: lower-alpha;
  text-align: center;
}

#div {
  text-align: center;
}

