<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">  

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      
  <title> Maria's Blog</title>
</head>
<body>

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
         <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>

    </ol>
    <!-- Carousel items -->

   
    <div class="carousel-inner">
        <div class="active item">
         <img src="pics/adventure.jpg" alt="..." class="rutpix" height="1100" width="1300"></div>
        <div class="active item">
         <img src="pics/chico.jpg" alt="..." class="rutpix" height="300" width="1300"></div>
         <div class="active item">
         <img src="pics/nonprofit1.jpg" alt="..." class="rutpix" height="1100" width="1300"></div>
        <div class="item">
          <img src="pics/nonprofit2.jpg" alt="..." class="rutpix" height="1000" width="1300"></div>
        <div class="item">
          <img src="pics/nonprofit5.jpg" alt="..." class="rutpix" width="1300">
        </div>
        <div class="item">
          <img src="pics/bm2.jpg" alt="..." class="rutpix" height="1300" width="4000">
        </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>


<!--beginning of NavBar-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Maria's Portfolio!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <div class="btn-group" role="group" aria-label="...">
               <li><button type="button" class="btn btn-default btn-lg">
              <li class="active"><a href="blog.html">My Blog</a></li> </button>
              <li><button type="button" class="btn btn-default btn-lg">
              <li class="active"><a href="repos.html">My Repos/Git</a></li> </button>
          </div>
        </ul>
  </div>
</nav>  

    
<marquee behavior="scroll" direction="left">Hey there! Welcome to Maria's Portfolio! :-)</marquee>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="portfolio.js"></script>


</body>
</html>